// @Author: Alcwyn Parker <alcwynparker>
// @Date:   2017-09-24T20:35:12+01:00
// @Email:  alcwynparker@gmail.com
// @Project: Concept Shed - AutoWed
// @Filename: _footer.scss
// @Last modified by:   alcwynparker
// @Last modified time: 2017-09-24T22:06:39+01:00

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom:0px;
  width:100%;
  height:80px;
}
